
 
<div class="card mb-30"><a class="card-img-tiles" href="/details/{{product.slug}}" data-abc="true">
        <div class="inner">
                <div class="main-img"><img src="../../../assets/img/{{images}}" alt="Category"></div>
        </div></a>
        <div class="card-body text-center">
                <h4 class="card-title">{{product.name}}</h4>
                <p class="text-muted">{{product.price}}€</p><a class="btn btn-outline-primary btn-sm" href="/details/{{product.slug}}" data-abc="true">View Product</a>
        </div>
</div>


