<main>
    <div class="container-fluid bg-trasparent my-4 p-3" style="position: relative;">
        <div class="row row-cols-1 row-cols-xs-2 row-cols-sm-2 row-cols-lg-4 g-3">
            <div class="col">
                <div class="card h-100 shadow-sm">
                    <!-- <img src="../../../assets/{{product.product_images[0]}}" alt=""> -->
                    <img [routerLink]="['/details/', product.slug]" src="../../../assets/img/{{images}}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <div class="clearfix mb-3">
                            <span class="float-start badge rounded-pill bg-primary">{{product.name}}</span>
                            <span class="float-end price-hp">{{product.price}}&euro;</span>
                        </div>
                        <h5 class="card-title">{{product.description}}</h5>
                        <div class="text-center my-4">
                            <a class="btn btn-warning" [routerLink]="['/details/', product.slug]">Check offer</a>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</main>
