<!-- <div class="d-flex justify-content-center align-items-center">
  <div class="pagination">
    <nav *ngIf="listProducts.length != 0 && totalPages.length != 1">
        <ul class="pagination pg-blue">
            <li *ngIf="currentPage != 1" class="page-item" (click)="setPageTo(currentPage-1)">
            <span class="page-link">Previous</span>
            </li>
            <li class="page-item" [ngClass]="{'active': pageNumber === currentPage}" *ngFor="let pageNumber of totalPages" (click)="setPageTo(pageNumber)">
            <span class="page-link">{{ pageNumber }}</span>
            </li>
            <li *ngIf="currentPage != totalPages[totalPages.length-1]" class="page-item" (click)="setPageTo(currentPage+1)">
            <span class="page-link">Next</span>
            </li>
        </ul>
    </nav>
  </div>
  </div> -->