.center-items {
    display: flex;
    flex-direction: column; /* Si deseas centrar elementos verticalmente */
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    height: 100%; /* Ajusta la altura según tus necesidades */
  }

  // .center_carousel{
  //   display: flex;
  // }
  