<br><br>
<mdb-carousel [controls]="true" [indicators]="false" [animation]="'slide'" [interval]="4500" [dark]="true" *ngIf="listCarousel.length" class="justify-content-center justify-content-end">
  <mdb-carousel-item *ngFor="let carousel of listCarousel" class="text-center align-items-center">
    <img src="../../../assets/img/{{carousel.image}}" [routerLink]="['/shop/categories/', carousel.slug]" class="d-block w-20 m-auto" *ngIf="home">

    
    <img src="../../../assets/img/{{carousel}}" class="d-block w-20" *ngIf="!home">
  </mdb-carousel-item>
</mdb-carousel>



