<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="header">
<nav class="navbar navbar-icon-top navbar-expand-lg navbar-dark ng-dark bg-dark">
  <!-- <a class="navbar-brand" ></a> -->
  <img src="../../../../assets/img/logo.png" routerLink="home" height="90" width="90">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">                      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="home">
          <i class="bi bi-house" ></i>
          Home
          <span class="sr-only">(current)</span>
          </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="shop">
          <i class="bi bi-bag">
            <!-- <i class="bi bi-bag"></i> -->
            <span class="badge badge-danger"></span>
          </i>
          Shop
        </a>
      </li>
    </ul>

 
    <div class="my-2 my-lg-0">
      <div>

          <div class="dropdown" [hidden]="!UserActive">
          <div class="dropdown me-3">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <img src="{{currentUser.image}}" alt="Perfil" class="rounded-circle" width="70px" height="70px" style="box-shadow: 0 0 5px #00FF00;">
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" [routerLink]="['/profile', currentUser.username]">Profile</a></li>
              <li><a class="dropdown-item" routerLink="settings">Settings</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" (click)="logout()">Logout</a></li>
            </ul>
          </div>
        </div>
          
      </div>
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit" routerLink="/login" [hidden]="UserActive">Login</button>
      <button class="btn btn-outline-danger my-2 my-sm-0" type="submit" routerLink="/register" [hidden]="UserActive">Register</button>  
    </div>
  </div>
</nav>
</div>
<!-- .header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
}

body {
  margin-top: 90px; /* ajusta el valor según el tamaño de tu header */
} -->
