<!-- The app-search component is used to search for products. It emits a searchEvent when the user types in the search bar. The get_list_filtered method is called with the searchEvent as a parameter to filter the list of products. -->

<app-search (searchEvent)="get_list_filtered($event)" class="subheader"></app-search>

<!-- The app-filters component is used to filter the list of products by category. It emits a filterEvent when the user selects a category. The get_list_filtered method is called with the filterEvent as a parameter to filter the list of products. The listCategories input is used to display the available categories in the filter dropdown. -->

<app-filters (filterEvent)="get_list_filtered($event)" [listCategories]="listCategories"></app-filters>

<!-- The list of products is displayed using the app-card-product component. The *ngFor directive is used to loop through the list of products and display each product as a card. -->

<div *ngIf="listProducts" class="container_list_products">
    <div class="no_products" *ngIf="listProducts.length == 0">No products</div>
    <app-card-product class="item" *ngFor="let product of listProducts" [product]="product"></app-card-product>
</div>

<!-- Pagination is included to navigate through the list of products. The totalPages array is used to display the page numbers in the pagination. The currentPage variable is used to keep track of the current page. The setPageTo method is called when a page number is clicked to update the currentPage variable. -->

<!-- <app-pagination (filterEvent)="get_list_filtered($event)" [totalPages]="totalPages" [listProducts]="listProducts"></app-pagination> -->

<div class="d-flex justify-content-center align-items-center">
<div class="pagination">
  <nav *ngIf="listProducts.length != 0 && totalPages.length != 1">
      <ul class="pagination pg-blue">
          <li *ngIf="currentPage != 1" class="page-item" (click)="setPageTo(currentPage-1)">
          <span class="page-link">Previous</span>
          </li>
          <li class="page-item" [ngClass]="{'active': pageNumber === currentPage}" *ngFor="let pageNumber of totalPages" (click)="setPageTo(pageNumber)">
          <span class="page-link">{{ pageNumber }}</span>
          </li>
          <li *ngIf="currentPage != totalPages[totalPages.length-1]" class="page-item" (click)="setPageTo(currentPage+1)">
          <span class="page-link">Next</span>
          </li>
      </ul>
  </nav>
</div>
</div>
